.error {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
  font-size: 3rem;
}

.href {
  padding-top: 2rem;
  text-decoration: none;
  color: gray;
  font-size: 2rem;
}
